<aside>
    <div class="profile-box">
        <div class="profile-img-wrapper">
            {% if site.profile.image and site.profile.image != "" %}
                <img src="{{ site.profile.image | relative_url }}" alt="프로필 사진" class="profile-img-photo">
            {% else %}
                <div class="profile-img-text">Me</div>
            {% endif %}
        </div>
        <h2 class="profile-name">{{ site.profile.name }}</h2>
        <p class="profile-desc">{{ site.profile.description }}</p>
    </div>

    <div class="category-box">
        <h3>Category</h3>
        
        {% assign main_categories = "" | split: "" %}
        {% for post in site.posts %}
            {% if post.categories.size > 0 %}
                {% assign main_categories = main_categories | push: post.categories[0] %}
            {% endif %}
        {% endfor %}
        {% assign main_categories = main_categories | uniq | sort %}

        <ul class="category-tree">
            {% for parent in main_categories %}
            <li class="parent-category">
                <a href="{{ '/category/' | relative_url }}#{{ parent }}" class="parent-link">
                    {{ parent }}
                </a>

                {% assign sub_categories = "" | split: "" %}
                {% for post in site.posts %}
                    {% if post.categories[0] == parent and post.categories.size > 1 %}
                        {% assign sub_categories = sub_categories | push: post.categories[1] %}
                    {% endif %}
                {% endfor %}
                {% assign sub_categories = sub_categories | uniq | sort %}

                {% if sub_categories.size > 0 %}
                <ul class="sub-category-list">
                    {% for sub in sub_categories %}
                    <li>
                        <a href="{{ '/category/' | relative_url }}#{{ sub }}" class="sub-link">
                            {{ sub }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>